<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda DB - Dashboard</title>
</head>
<body>
    <h1>Tarefas</h1>
    
    <ul>
    {% for tarefa in tarefas %}
        <li>
            <p>Nome: {{ tarefa[1] }}</p>
            <p>Descrição: {{ tarefa[2] }}</p>
            <p>Data de criação: {{ tarefa[3] }}</p>
            <p>Data limite: {{ tarefa[4] }}</p>
            <p>Status: {{ tarefa[6] }}</p>
            <button><a href="{{ url_for('update', id=tarefa[0]) }}">Modificar tarefa</a></button>
            <button><a href="{{ url_for('delete', id=tarefa[0]) }}">Excluir tarefa</a></button>
            
            
           
        </li>
        <br><br><br>
    {% endfor %}
    </ul>

    <button><a href="{{ url_for('add') }}">Adicionar tarefas</a></button>
    <button><a href="{{ url_for('logout') }}">Sair</a></button>
    
</body>
</html>